<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FH - COLECCIÓN</title>
    <link rel="shortcut icon" href="/img/logo/FashionHub-logo.png" type="image/png" />
    <link rel="stylesheet" href="/css/normalize.css">    
    <link rel="stylesheet" href="/css/norm-header-footer.css">
    <link rel="stylesheet" href="/css/Coleccion.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <img src="/img/Banners/Sale-Off-pink.jpg" alt="Banner-ofertas" class="banner">
        <h1>Colección</h1>
        <!--<img src="/Banners/Banner-ofertas.jpg" alt="Banner-ofertas" class="banner">-->
        <article>
            <% for(let i=0; i < TheProducts.length; i++){ %>
                <div>
                    <img src="/img/productos/<%= TheProducts[i].image ? TheProducts[i].image : 'default-image.png' %>" alt="<%= TheProducts[i].name %>" title="<%= TheProducts[i].name %>">
                    <a href="/product-detail/<%= TheProducts[i].id %>">
                        <button>
                            <p>Ver Más</p>
                        </button>
                    </a>
                </div>
            <%}%>
        </article>
        <img src="/img/Anuncios/Anuncio1.jpg" alt="anuncios" class="anuncios">
    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>