<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FH - EditProduct</title>
    <link rel="shortcut icon" href="/img/logo/FashionHub-logo.png" type="image/png" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/norm-header-footer.css">
    <link rel="stylesheet" href="/css/edit-product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Lobster&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main>
            <div class="container">
                <h1 class="container-title">Editar Producto</h1>
                <p class="container-message">Ingrese los datos a cambiar del producto</p>
                <form id="registration-form" action="/product-detail/edit-product/<%= product.id %>?_method=PUT"
                    method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Nombre *</label>
                        <input type="text" id="name" name="name" required value="<%= product.name %>">
                    </div>
                    <div class="form-group">
                        <label for="image">Imagen *</label>
                        <input type="file" id="image" name="image" required value="<%= product.image %>">
                    </div>
                    <div class="form-group">
                        <label for="description">Descripción *</label>
                        <!--<input type="text" id="description" name="description" rows="5" cols="35" value="<%= product.description %>">-->
                        <textarea name="description" id="description" class="form-input" rows="4" cols="50"
                            value="<%= product.description %>"><%= product.description %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="price">Precio *</label>
                        <input type="number" id="price" name="price" required value="<%= product.price %>">
                    </div>
                    <div class="form-group">
                        <label for="discount">Descuento *</label>
                        <input type="number" id="discount" name="discount" required value="<%= product.discount %>">
                    </div>
                    <div class="form-group">
                        <label for="category">Categoria *</label>
                        <select name="category" id="category">
                            <option value="Pantalon">Pantalon</option>
                            <option value="Remera">Remera</option>
                            <option value="Atuendo">Atuendo</option>
                            <option value="Vestido">Vestido</option>
                            <option value="Accesorio">Accesorio</option>
                            <option value="Calzado">Calzado</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <h3>Color *</h3>
                        <% for(let i=0; i < colors.length; i++){ %>
                            <label for="<%= colors[i] %>">
                                <input id="<%= colors[i] %>" type="radio" name="colorx" value="<%= colors[i] %>"
                                    <%if(product.color===colors[i]){%>
                                <%="checked"%>
                                    <%}%>
                                        >Color <%= colors[i] %>
                            </label>
                            <%}%>
                    </div>
                    <div class="form-group">
                        <label for="size">Talle *</label><br>
                        <label for="size"><input type="radio" name="size" value="Extra extra large">""</label>
                    </div>
                    <div class="form-group">
                        <button type="submit">Confirmar</button>
                    </div>
                </form>
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
</body>

</html>