<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FH - Detalle de producto</title>
    <link rel="shortcut icon" href="/img/logo/FashionHub-logo.png" type="image/png" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/norm-header-footer.css">
    <link rel="stylesheet" href="/css/product-detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Lobster&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main>
            <section class="section-articles">
                <article class="section-articles__article" id="section-articles-1">
                    <div class="section-articles__article-div">
                        <img src="/img/productos/<%= product.image ? product.image : 'default-image.png' %>"
                            alt="<%= product.name %>" title="<%= product.name %>">
                    </div>
                </article>
                <article class="section-articles__article" id="section-articles-2">
                    <div class="section-articles__article-div">
                        <img src="/img/productos/<%= product.image %>" alt="<%= product.name %>"
                            title="<%= product.name %>">
                    </div>
                </article>
                <article class="section-articles__article" id="section-articles-3">
                    <div class="section-articles__article-div">
                        <img src="/img/productos/<%= product.image %>" alt="<%= product.name %>"
                            title="<%= product.name %>">
                    </div>
                </article>
            </section>
            <section class="section-product">
                <div class="section-product__div">
                    <img src="/img/productos/<%= product.image %>" alt="<%= product.name %>"
                        title="<%= product.name %>">
                </div>
            </section>
            <section class="section-form">
                <form id="form" action="/shopping-cart" method="POST">
                    <div id="form-title">
                        <h1>
                            <%= product.name %>
                        </h1>
                    </div>
                    <div>
                        <p id="form-price">$ <%= product.price %>
                        </p>
                    </div>
                    <div>
                        <p id="form-description">
                            <%= product.description %>
                        </p>
                    </div>
                    <div class="form-color">
                        <label id="form-color">Color:</label>
                        <p id="form-color__color-producto">
                            <%= product.color %>
                        </p>
                    </div>
                    <div class="form-size">
                        <label id="form-size">Talle:</label>
                        <p id="form-size__size-producto">
                            <%= product.size %>
                        </p>
                    </div>
                </form>
                <form id="form" action="/product-detail/<%= product.id %>?_method=DELETE" method="POST">

                    <% if(locals.isLogged && locals.userLogged.id == product.userId){ %>
                        <div class="buttons-delete-edit">
                            <a id="button-edit" href="/product-detail/edit-product/<%= product.id %>">Editar
                                Producto</a>
                        </div>
                        <button id="button-delete" type="submit" value="delete-product">Eliminar Producto</button>
                        <% } %>
                            <div class="form-div" id="form-compartir">
                                <h3>Compartir</h3>
                                <div class="redes">
                                    <a href="https://www.instagram.com/" target="_blank"><i
                                            class="fab fa-instagram"></i></a>
                                    <a href="https://www.facebook.com/" target="_blank"><i
                                            class="fab fa-facebook-square"></i></a>
                                    <a href="https://x.com" target="_blank"><i class="fab fa-twitter-square"></i></a>
                                    <a href="https://ar.pinterest.com/" target="_blank"><i
                                            class="fab fa-pinterest-square"></i></a>
                                    <a href="https://web.whatsapp.com/" target="_blank"><i
                                            class="fab fa-whatsapp"></i></a>
                                    <a href="https://www.tiktok.com/" target="_blank"><i class="fab fa-tiktok"></i></a>
                                </div>
                            </div>
                </form>
        </main>
        <%- include('./partials/footer.ejs') %>
</body>

</html>