<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FH - Registro de usuario</title>
    <link rel="shortcut icon" href="/img/logo/FashionHub-logo.png" type="image/png" />
    <link rel="stylesheet" href="/css/normalize.css"> 
    <link rel="stylesheet" href="/css/norm-header-footer.css">
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="container">
            <h1 class="container-title">Registro de usuario</h1>
            <p class="container-message">Ingrese los siguientes datos para registrarse</p>
            <form id="registration-form" action="/user/register" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Nombre *</label>
                    <input type="text" id="name" name="name" value="<%= locals.oldData ? oldData.name : null %>">
                    <% if(locals.errors && errors.name){ %>
                        <p class="mensajeError"> <%= errors.name.msg %> </p>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="lastName">Apellido *</label>
                    <input type="text" id="lastName" name="lastName" value="<%= locals.oldData ? oldData.lastName : null %>">
                    <% if(locals.errors && errors.lastName){ %>
                        <p class="mensajeError"> <%= errors.lastName.msg %> </p>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="dni">DNI *</label>
                    <input type="text" id="dni" name="dni" value="<%= locals.oldData ? oldData.dni : null %>">
                    <% if(locals.errors && errors.dni){ %>
                        <p class="mensajeError"> <%= errors.dni.msg %> </p>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="profilePhoto">Foto de Perfil: *</label>
                    <input type="file" id="profilePhoto" name="profilePhoto" >
                    <% if(locals.errors && errors.profilePhoto){ %>
                        <p class="mensajeError"> <%= errors.profilePhoto.msg %> </p>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="birthdate">Fecha de nacimiento *</label>
                    <input type="date" id="birthdate" name="birthdate" value="<%= locals.oldData ? oldData.birthdate : null %>">
                    <% if(locals.errors && errors.birthdate){ %>
                        <p class="mensajeError"> <%= errors.birthdate.msg %> </p>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="email">E-mail *</label>
                    <input type="text" id="email" name="email" value="<%= locals.oldData ? oldData.email : null %>">
                    <% if(locals.errors && errors.email){ %>
                        <p class="mensajeError"> <%= errors.email.msg %> </p>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="repeatEmail">Repetir E-mail *</label>
                    <input type="text" id="repeatEmail" name="repeatEmail" value="<%= locals.oldData ? oldData.repeatEmail : null %>">
                    <% if(locals.errors && errors.repeatEmail){ %>
                        <p class="mensajeError"> <%= errors.repeatEmail.msg %> </p>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña *</label>
                    <input type="password" id="password" name="password">
                    <% if(locals.errors && errors.password){ %>
                        <p class="mensajeError"> <%= errors.password.msg %> </p>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="repeatPassword">Repetir Contraseña *</label>
                    <input type="password" id="repeatPassword" name="repeatPassword">
                    <% if(locals.errors && errors.repeatPassword){ %>
                        <p class="mensajeError"> <%= errors.repeatPassword.msg %> </p>
                    <% } %>
                </div>
                <div class="form-group">
                    <button type="submit">Confirmar</button>
                </div>
            </form>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="script.js"></script>
</body>
</html>
