<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FH - RESULTS</title>
    <link rel="shortcut icon" href="/img/logo/FashionHub-logo.png" type="image/png" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/norm-header-footer.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Lobster&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main id="main-home">
            <h1>Resultados de la busqueda: <%=busqueda %></h1>
            <article>
                <% for(let i=0; i < products.length; i++){ %>
                    <div id="article-div">
                        <img id="article__image" src="/img/productos/<%= products[i].image ? products[i].image : 'default-image.png' %>"
                        alt="<%= products[i].name %>" title="<%= products[i].name %>">
                        <a id="article__anchor" href="/product-detail/<%= products[i].id %>">
                            <h2 id="article__h2"><%= products[i].name %></h2>
                            <button id="article__button">
                                <p id="article-button__p">Ver Más</p>
                            </button>
                        </a>
                    </div>
                    <%}%>
            </article>
            <img src="/img/Anuncios/Anuncio1.jpg" alt="anuncios" class="anuncios">
        </main>
        <%- include('./partials/footer.ejs') %>
</body>

</html>