<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FH - Detalle de producto</title>
    <link rel="shortcut icon" href="/img/logo/FashionHub-logo.png" type="image/png" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/norm-header-footer.css">
    <link rel="stylesheet" href="/css/userProfile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section id="section-user">
            <section class="section-user__image">
                <div >
                    <img id="user-image" src="/img/usuarios/<%= user.profilePhoto %>" alt="<%= user.name %>" title="<%= user.name %>">
                </div>
            </section>
            <section class="section-user__details">
                <div id="user-name">
                    <h2>¡Hola <%= user.name %>!</h2>
                </div>
                <div class="user-details__div">
                    <p id="user-id">ID de usuario: <%= user.id %></p>
                </div>
                <div class="user-details__div">
                    <p id="user-fullName">Nombre completo: <%= user.name %> <%= user.lastName %></p>
                </div>
                <div class="user-details__div">
                    <p id="user-email">Correo electronico: <%= user.email %></p>
                </div>
                <div class="user-details__div">
                    <p id="user-dni">Número de DNI: <%= user.dni %></p>
                </div>
                <div class="user-details__div">
                    <p id="user-birthdate">Fecha de Nacimiento: <%= user.birthdate %></p>
                </div>
            </section>
        </section>        
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>