<h1>TAMBIÉN TE PUEDE INTERESAR...</h1>
<section>
    <% for(let i=0; i < products.length && i < 4; i++){%>
        <div class="sectionBox-shadow">
            <img src="/img/productos/<%= products[i].image %>" alt="<%= products[i].name %>"
                title="<%= products[i].name %>">
            <div>
                <h2>
                    <%= products[i].category%>
                </h2>
                <p>
                    <%= products[i].description%>
                </p>
                <button>
                    <h5>Ver Más</h5>
                </button>
            </div>
        </div>
        <%}%>
</section>